body {
  background-color: rgb(71, 128, 179);
  font-family: Arial, sans-serif;
}

/* Pasek filtrujący */
.filters {
  text-align: center;
  padding: 20px;
}

.filters input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  box-sizing: border-box;
}

/* Galeria zdjęć */
.gallery {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.gallery-item {
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Modal powiększonego zdjęcia */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

/* Przycisk do zamknięcia modala */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background: darkred;
}

